
<table class="table table-bordered table-secondary">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">CIN</th>
      <th scope="col">N°Téléphone</th>
      <th scope="col">Mail</th>
      <th scope="col">Idée de projet</th>
      <th scope="col">Service de l'entreprise</th>
      <th scope="col">CV</th>
      <th scope="col">Déplome</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <td class="td"></td>
      <td class="td"></td>
      <td class="td"></td>
      <td class="td"></td>
      <td class="td"></td>
      <td class="td"></td>
      <td class="td"></td>
      
      <td><button class="btn btn-danger" ><i class="fa-solid fa-xmark"></i></button>
      </td>
      <td>
        <button type="button"  class="btn btn-success">
          <i class="fa-solid fa-check"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div>
 
</div>