<table class="table table-bordered table-secondary">
  <thead>
    <tr>
      <th scope="col" class="th">Logo de l'entreprise</th>
      <th scope="col" class="th">gerant</th>
      <th scope="col" class="th">Nom De L'entreprise</th>
      <th scope="col" class="th">Mail de l'entreprise</th>
      <th scope="col" class="th">Service de l'entreprise</th>
      <th scope="col" class="th">Site web de l'entreprise</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr  class="table-light">

      <td><a>
          <span class="link hide"> <img src="" width="40" height="40"
              style="border-radius: 50%;"></span>
        </a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1"
          >
          <i class="fa fa-solid fa-trash"></i>
        </button>
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Confirmez-vous ?</h1>
              </div>
              <div>Êtes-vous sûr de vouloir supprimer cette entreprise ?</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  >Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier Produit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div>
                <form class="modal-body" [formGroup]="formModifierEntreprise" novalidate>
                  Nom de l'entreprise : <input type="text" class="form-control" [placeholder]=""
                    aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="nomEntreprise">
                  Gérant : <input type="text" class="form-control" [placeholder]=""
                    aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="gerant">
                  Mail de l'entreprise <input type="text" class="form-control" [placeholder]=""
                    aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="mailEntreprise">
                  Service de l'entreprise <input type="text" class="form-control" [placeholder]=""
                    aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="service">
                  Site de l'entreprise <input type="text" class="form-control"[placeholder]=""
                    aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="siteEntreprise">
                  Logo de l'entreprise : <input type="file" >
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >
                    Sauvegarder</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div>
  
</div>