
    <table class="table table-bordered table-secondary">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="th">Nom</th>
          <th scope="col"class="th">Prenom</th>
          <th scope="col"class="th">N°Téléphone</th>
          <th scope="col"class="th">Mail</th>
          <th scope="col" colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr  class="table-light">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button class="btn btn-danger" ><i class="fa-solid fa-xmark"></i></button>
          </td>
          <td>
            <button type="button"  class="btn btn-success">
              <i class="fa-solid fa-check"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      
    </div>