<app-nav-bar></app-nav-bar>
<div class="multi-step-form">
  <div *ngIf="currentStep === 1">
    <form [formGroup]="formDemandeur" novalidate>
      <div class="container">
        <div class="title">Information personnelle</div>
        <div class="content">
          <div class="form">
            <div class="user-details">
              <div class="input-box">
                <span class="details">Nom</span>
                <input type="text" placeholder="Entrer votre nom" formControlName="nom" required>
                <small *ngIf="formDemandeur.controls['nom'].errors && formDemandeur.controls['nom'].touched"
                  class="text-danger">
                  {{ getErrorsMessage('nom', formDemandeur.controls['nom'].errors) }}
                </small>
              </div>
              <div class="input-box">
                <span class="details">Prenom</span>
                <input type="text" placeholder="Entrer votre numéro téléphone" formControlName="prenom" required>
                <small *ngIf="formDemandeur.controls['prenom'].errors && formDemandeur.controls['prenom'].touched"
                  class="text-danger">
                  {{ getErrorsMessage('prenom', formDemandeur.controls['prenom'].errors) }}
                </small>
              </div>
              <div class="input-box">
                <span class="details">CIN</span>
                <input type="text" placeholder="Entrer votre CIN" formControlName="cin" required>
                <small *ngIf="formDemandeur.controls['cin'].errors && formDemandeur.controls['cin'].touched"
                  class="text-danger">
                  {{ getErrorsMessage('cin', formDemandeur.controls['cin'].errors) }}
                </small>
              </div>
              <div class="input-box">
                <span class="details">Numéro téléphone</span>
                <input type="text" placeholder="Entrer votre numéro téléphone" formControlName="tel" required>
                <small *ngIf="formDemandeur.controls['tel'].errors && formDemandeur.controls['tel'].touched"
                  class="text-danger">
                  {{ getErrorsMessage('tel', formDemandeur.controls['tel'].errors) }}
                </small>

              </div>
              <div class="input-box">
                <span class="details">E-mail professionnel</span>
                <input type="text" placeholder="Entrer votre mail professionnel" formControlName="mail" required>
                <small *ngIf="formDemandeur.controls['mail'].errors && formDemandeur.controls['mail'].touched"
                  class="text-danger">
                  {{ getErrorsMessage('mail', formDemandeur.controls['mail'].errors) }}
                </small>
              </div>
              <div class="input-box">
                <span class="details">Déplome en forme pdf</span>
                <input type="file" >
              </div>
              <div class="input-box">
                <span class="details">CV en forme pdf</span>
                <input type="file" >
              </div>
            </div>
            <div id="button">
              <input type="submit" value="Validate"  style="margin-left: 615px;"
                [disabled]="formDemandeur.invalid" [title]="titre()" [ngStyle]="{
                  'cursor': formDemandeur.invalid ? 'not-allowed' : 'pointer',
                  }" (mouseenter)="hovered = true" (mouseleave)="hovered = false"
                [style.backgroundColor]="hovered ? (formDemandeur.invalid ? 'red' : '#7cc576') : ''"data-bs-toggle="modal" data-bs-target="#exampleModal">
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" style="margin-left: 500px; margin-top: 30px;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel" style="margin-left: 20px;"> Confirmez-vous ?
                      </h1>
                    </div>
                    <div style="margin-left: 20px;">Êtes-vous sûr de vouloir envoyer cette demande ?</div>
                    <div class="modal-footer"
                    style="padding: 12px;">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                      style="width: 100px;margin-right: 10px; height: 35px;">Annuler</button>
                      <button type="button" class="btn btn-primary" style="width: 100px;"  data-bs-dismiss="modal" style="width: 100px;height: 35px;" (click)="submitForm()">Envoyer</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  
</div>
<app-footer></app-footer>