<header id="header" class="d-flex align-items-center" style="width: 100%;">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href="index.html"><img src="assets\images\logo2.jpg" alt="" class="img-fluid" width="120px"></a>
    </div>
    <nav id="navbar" class="navbar" style="margin-left: 150px;">
      <ul>
        <li><a class="nav-link scrollto" href="#x">
            À PROPOS</a></li>
        <li><a class="nav-link scrollto" href="#services">
            NOS SERVICES</a></li>
        <li><a class="nav-link scrollto" href="#why-us">PLUS DE DETAILS</a></li>
        <li><a class="nav-link scrollto" href="#NOS-HEBERGER">NOS LOCALS</a></li>
        <li><a class="nav-link scrollto" routerLink="/FormulaireComponent">DEMANDE D'UNE DE BUREAU</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <div>
      <div *ngIf="ia=='true'">
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#" style="color: red;" >Déconnecter</a></li>
          </ul>
        </div>
      </div>
      <div > <button  class="btn btn-success" (click)="connexion()">Connexion</button>
      </div>
    </div>
  </div>

</header>